body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.container {
    width: 360px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container { 
        width: 800px;
    }
    
    .musts {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 40px;
        padding:1em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: x-small;
    }

    .musts span {
        width: 300px;
        border: 1px solid #ddd;
        border-radius: 20px;
        margin: 10px;
    }

    #must1 {
        display: inline-block;
        inset-inline:right;
        width: 180px;

    }
 
    #must2 {
        display: inline-block;
        inset-inline:right;
        width: 180px;
    }

    #must3 {
        display: inline-block;
        inset-inline:right;
        width: 180px;
    }

}

@media screen and (min-width: 1024px) and (max-width: 4000px) {
    .container { 
        width: 800px;
    }

    .links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 40px;
        padding:1em;
        font-family: Georgia, 'Times New Roman', Times, serif;
     }
    
    .links span {
        width: 300px;
        padding: 10px 15px;
        border: 1px solid #ddd;
        border-radius: 20px;
        margin: 10px;
     }
     
    #categories {
        display: inline-block;
        inset-inline:right;
    
     }
     
    #quick {
        display: inline-block;
        inset-inline:right;
        
     }
}
    .menu {
    font: 1em Georgia;
    text-align: center;
    background:#fff;
    border-bottom:1px solid pink;
    border-top:1px solid pink;
    }
    
    .menu li {
    display:inline-block;
    padding:5px 15px 4px 15px;
    }
    
    .menu li a {
        color: black;
        text-decoration: none;
        }
    .menu li a:visited {
        color: hotpink;
        }
    .menu li a:hover {
        color: lightblue;
        }
    .menu li a:active {
        color: blue;
    }

h2 {
  color: rgb(253, 182, 255);
  text-align: center;
}


.topic {
    font-size: 150%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(231, 169, 228);
}

#task {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(0, 0, 0);
}

.musts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding:1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .musts span {
    width: 300px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin: 10px;
 }
 
 #must1 {
    display: inline-block;
    inset-inline:right;

 }
 
 #must2 {
    display: inline-block;
    inset-inline:right;

 }

 #must3 {
    display: inline-block;
    inset-inline:right;
 }


#italic {
    font-style: italic;
    font-size: smaller;
 }

#names { 
color: purple;
font-family: Georgia, 'Times New Roman', Times, serif;
}

#submit {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black
}

#submit2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black
}

#submit3 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black
}

#table {
    background-color: lightgray;
    margin: auto;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;    
    }

#grading {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black
}

#group {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: black
}

.important {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


h6 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(233, 79, 194);
    font-size: x-large;
}

#dummycontent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding:1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#dummycontent span {
    width: 300px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin: 10px;
    orientation: horizontal;
 }

 #dummy1 {
    display: inline-block;
    inset-inline:right;
 }
 
 #dummy2 {
    display: inline-block;
    inset-inline:right;
 }

 #dummy3 {
    display: inline-block;
    inset-inline:right;
 }

#dummycontent {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-style: oblique;
    color: black
}

.cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding:1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cont span {
    margin: 10px;
 }

 #contacts {
    display: inline-block;
 }

 #map {
    display: inline-block;
 }

h1:hover {
    background-color: rgb(122, 56, 91);
}

a[href="#SignIn"] {
    background-color: lightpink;
}

#image1 {
    width: 100%;
    height: auto;
}

#image2 {
    width: 100%;
    height: auto;
}

#image3 {
    padding: 5px;
    width: 220px;
    height: 120px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#image4 {
    padding: 20px;
    width: 120px;
    height: auto;
}

#categories {
    display: inline;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

    .categories li a {
        color: black;
        text-decoration: none;
        }
    .categories li a:visited {
        color: hotpink;
        }
    .categories li a:hover {
        color: lightblue;
        }
    .categories li a:active {
        color: blue;
    }

#quick {
    display: inline;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 

.quicks li a {
    color: black;
    text-decoration: none;
    }
.quicks li a:visited {
    color: hotpink;
    }
.quicks li a:hover {
    color: lightblue;
    }
.quicks li a:active {
    color: blue;
}

